<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devixe-width, initial-scale=1.0">
    <meta http-equiv="X-UACompatible" content="ie=edge">
    <title>ようこそ</title>
  </head>
  <body>
    <p>ようこそ　<input type="text" value="<%=name %>" readonly></p>
  </body>
</html>