<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <title>ログイン</title>
  </head>

  <body>
    <main>
      <h1>ログイン画面</h1>
      <form action="/login" method="POST" class="form">
        <div class="form_text">
          LoginID: <input type="text" name="user_id" required>   
        </div>
        <div>
          Password: <input type="password" name="password" required>
        </div>
        <input id="submit" type="submit" value="ログイン">
      </form>
      <p><%=err %></p>
    </main>
  </body>
  
</html>