<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <title>ようこそ</title>
  </head>
  
  <body>
    <p>ようこそ   <input type="text" value="<%= name %>" readonly></p>
    <ul id = "list">
      <% file.forEach((f) => { %>
        <li>
          <a href='/download?name=<%= f.Key %>'><%= f.Key %> (<%= f.Size %>)</a>
        </li>
      <% }) %>
    </ul>  
  </body>

  </html>
  
